
@{
    ViewData["Title"] = "Result";
}

@{
    ViewBag.Title = "نتیجه آزمون";
}

<h2>نتیجه آزمون</h2>

<p>@ViewBag.ResultMessage</p>

<a href="@Url.Action("Start", "Quiz")">بازگشت به شروع آزمون</a>



